# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #

bin
target
build/
.gradle
.mvn/
build.gradle
gradle/
gradlew
gradlew.bat
mvnw
mvnw.cmd


# Eclipse Project Files #

.classpath
.project
.settings

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Spring Bootstrap artifacts

dependency-reduced-pom.xml
README.html
